--color
--format documentation
--require support/test_coverage
--require spec_helper
--require support/grape
--require support/factory_girl
--require support/shoulda
--require support/in_memory_db
--require support/active_record